<div class="container">
  <h1 class="my-4 bd-highlight">Welcome to Modern Business</h1>
  <div class="p-2 bd-highlight">

  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <% @products.each do |product|  %>
        <div class="col-lg-4">
          <div class="card">

            <img class="card-img-top" src="/<%= product.pic %>">

            <div class="card-body">
              <h1 class="card-title"><%= product.name %></h1>
              <p class="card-text"> <span class="badge badge-primary"><%= product.category.name %></span></p>
              <%#　
               link_to "削除", product_path(product.id), class: 'btn btn-danger', method: :delete　
               link_to "編集", edit_product_path(product.id), class: 'btn btn-primary', method: :get 
              %>
              <%= link_to "詳細", product_path(product.id), class: 'btn btn-primary', method: :get %>

            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card mb-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <%= form_tag(products_path, :method => 'get', id: "search_form") do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control" %>
            <span class="input-group-append">
              <%= button_tag 'Search', :name => nil ,id: "sbtn" ,class: "btn btn-secondary" %>
            </span>

          </div>
          <% end %>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
              <% @categories.each do |category| %>
                <li>
                  <a href="#">
                    <%= category.name %></a>
                </li>
              <% end %>
                <li>
                  <a href="#">Web Design</a>
                </li>
                <li>
                  <a href="#">HTML</a>
                </li>
                <li>
                  <a href="#">Freebies</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">JavaScript</a>
                </li>
                <li>
                  <a href="#">CSS</a>
                </li>
                <li>
                  <a href="#">Tutorials</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are easy to use, and feature the new
          Bootstrap 4 card containers!
        </div>
      </div>
    </div>
  </div>
</div>